ingest-stock-data/ingest_stock_data.yml
id: ingest_json_stock_data
namespace: company.team

inputs:
  - id: stockArr
    type: ARRAY
    itemType: STRING
  - id: indicatorArr
    type: ARRAY
    itemType: STRING

tasks:
  - id: price_vol_loop
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ inputs.stockArr }}"
    env:
      API_TOKEN: "{{ secret('AV_TOKEN') }}"
    tasks: 
      - id: retrieve_price_vol
        type: io.kestra.plugin.scripts.python.Script
        outputFiles:
          - "stockFile.json"
        script: |
              import requests
              import json
              import os

              token = os.environ['API_TOKEN']
              stock_sym = "{{ taskrun.value }}"

              url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={stock_sym}&apikey={token}'
              r = requests.get(url)
              data = r.json()
              
              with open("stockFile.json", "w") as f:
                json.dump(data, f)
      
      - id: upload_price_vol_to_datalake
        type: io.kestra.plugin.gcp.gcs.Upload
        serviceAccount: "{{ env.GCP_SERVICE_ACCOUNT_KEY }}"
        from: "{{ outputs.retrieve_price_vol.outputFiles['stockFile.json'] }}"
        # plan is to use bucket name given as env variable
        to: "gs://{{ env.GCS_BUCKET_NAME }}/{{ taskrun.value }}/price_vol_data.json"
        projectId: "{{ env.TF_VAR_projectid }}"

tasks:
  - id: stock_sym_outer_loop
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ inputs.stockArr }}"
    env:
      API_TOKEN: "{{ secret('AV_TOKEN') }}"
    tasks:
      - id: indicator_inner_loop
        type: io.kestra.plugin.core.flow.ForEach
        values: "{{ inputs.indicatorArr }}"
        tasks:
          - id: retrieve_ind_data
            type: io.kestra.plugin.scripts.python.Script
            outputFiles:
              - "indicatorData.json"
            script: |
              import requests
              import json
              import os 

              token = os.environ['API_TOKEN']
              stock_sym = "{{ parent.taskrun.value }}"
              indicator_sym = "{{ taskrun.value }}"
              
              url = f'https://www.alphavantage.co/query?function={indicator_sym}&symbol={stock_sym}&interval=daily&time_period=10&series_type=close&apikey={token}'
              r = requests.get(url)
              data = r.json()

              with open("indicatorData.json", "w") as f:
                json.dump(data, f)

          - id: upload_indicator_data
            type: io.kestra.plugin.gcp.gcs.Upload
            from: "{{ outputs.retrieve_ind_data.outputFiles['indicatorData.json'] }}"
            to: "gs://{{ env.GCS_BUCKET_NAME }}/{{ parent.taskrun.value }}/{{ taskrun.value }}.json"
            projectId: "{{ env.TF_VAR_projectid }}"
